* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #333333;
}

.container {
  width: 100%;
  padding: 0px 20px;
  margin: 0px auto;
}

/* Header */
.main-bg {
  background-image: url("../images/main-bg.jpg");
  background-size: cover;
}

.main-bg-backdrop {
  padding-bottom: 99px;
  backdrop-filter: brightness(40%);
}

.header {
  padding: 60px 0px;
}

.header-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  max-width: 840px;
}

.logo {
  width: 176px;
  height: 40px;
}

.header-list {
  display: flex;
  column-gap: 24px;
  list-style: none;
}

.header-list-item-link {
  padding: 14px 0px;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

/* Posts */
.posts-container {
  max-width: 840px;
}

.posts-list {
  list-style: none;
}

.post-top-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 20px;
  height: 330px;
  padding: 0px 60px 40px;
}

.post-top-content-1 {
  background-image: url("../images/product-1-bg.jpg");
}

.post-top-content-2 {
  background-image: url("../images/product-2-bg.jpg");
}

.post-top-content-3 {
  background-image: url("../images/product-3-bg.jpg");
}

.user-profile {
  display: flex;
  align-items: center;
  column-gap: 14px;
}

.user-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.user-name {
  font-size: 18px;
  color: #ffffff;
  line-height: 19px;
  font-weight: 400;
}

.post-date {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  line-height: 19px;
  color: #ffffff;
}

.post-title {
  max-width: 512px;
  font-weight: 400;
  font-size: 28px;
  line-height: 35px;
  color: #ffffff;
}

.post-sub-content {
  background-color: #ffffff;
  padding: 35px 60px;
}

.post-description {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}

.post-link {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  text-decoration: none;
  color: #8d4fdb;
}

/* Read more section */
.read-section {
}

.read-section-container {
  max-width: 840px;
}

.read-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  background: #f1f1f1;
  padding: 49px 0 60px 0;
}

.read-section-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}

.read-section-link {
  background: #8d4fdb;
  padding: 8px 25px;
  border-radius: 3px;
  font-weight: 400;
  font-size: 10px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}
